name: ci-wf
on:
  pull_request:
    branches:
      - develop
    types:
      - opened
      - synchronize
jobs:
  linting-job:
    runs-on: ubuntu-latest
    steps:
      - name: Liting Job
        run: echo "Starting Litning of HTML & CSS Files"
      - name: Clone Repo On the Runner
        uses: actions/checkout@v6
      - name: Install Dev Dependencies
        run: npm install
      - name: Lint HTML Files
        run: npx htmlhint "**/*.html"
      - name: Lint CSS Files
        run: npx stylelint "**/*.css"
    

  build-job:
    needs: "linting-job"
    runs-on: ubuntu-latest
    steps:
      - name: Build Job
        run: echo "Build Job Goint to Start"
      - name: Clone Repo
        uses: actions/checkout@v6
      - name: Install Dependecies
        run: npm install
      - name: Build Website With Parcel
        run: npx parcel build "./src/index.html" --dist-dir "./dist" --public-url "./" --no-cache

#create job for the build the image
#we can do this n only one job but if we do this seprately for save the time bacasue it run mulitple job parallel instaead  of one 
  image-build-job:
    needs: "build-job"
    runs-on: ubuntu-latest 
    steps:
      - name: Clone Repo
        uses: actions/checkout@v6
      - run: docker image 
      # workflwo autenticate with the docker-hub 
      #Because it use many time so we need to search on Marketplace on the GitHub
      - name: Login To docker-hub
        uses: docker/login-action@v3
        with: #These are the parameters  as in functions 
          username: ${{ secrets.DOCKERHUB_USERNAME }} 
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/w11g4:latest .
      - name: list the Images
        run: docker image ls 
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/w11g4:latest
