name: we_dev_pr
on:
  pull_request:
    branches:
      - develop
    types:
      - opened
      - synchronize
jobs:
  linting_job:
    runs-on: ubuntu-latest
    steps:
      - name: cone repo on the runner
        uses: actions/checkout@v6
      - name: Install Dev Dependencies
        run: npm install 
      - name: lint html
        run: npx htmlhint "**/*.html"
      - name: list CSS files
        run: npx stylelint "**/*.css"
  build-job:
    needs: "linting-job"
    run-on: ubuntu-latest
    steps:
      - name: clone repo
        uses: actions/checkout@v6
        
